- name: execute all as virt_user
  become: true
  become_user: "{{ virt_user }}"
  tags:
    - images
    - undercloud
    - lab
  block:
    - name: install acpid only on centos
      set_fact: opt_pkg="--install acpid"
      when:
        - base_image == "centos"

    - name: undercloud image settings
      shell: |
        export LIBGUESTFS_BACKEND=direct
        virt-sysprep -a "{{basedir}}/workload/{{vm_prefix}}-{{ item.name }}.qcow2" \
          --firstboot-command "growpart /dev/sda {{ root_device }}" \
          --firstboot-command "xfs_growfs {{ growfs_part }}" \
          --firstboot-command "systemctl enable acpid" \
          --firstboot-command "systemctl start acpid" \
          --firstboot-command "mkswap /dev/sdb" \
          --firstboot-command "swapon /dev/sdb" \
          --hostname {{ undercloud_hostname | lower }} \
          --network {{ opt_pkg|default('') }} \
          --uninstall cloud-init \
          --selinux-relabel \
          --root-password "password:{{undercloud_password}}" \
          --ssh-inject root:file:{{ basedir }}/.ssh/authorized_keys \
          --delete /etc/machine-id &> "{{basedir}}/workload/{{vm_prefix}}-{{ item.name }}.qcow2.done"
      args:
        creates: "{{basedir}}/workload/{{vm_prefix}}-{{ item.name }}.qcow2.done"
      when:
        - item.name is match('^undercloud')
      loop: "{{ vms }}"
      loop_control:
        label: "{{ item.name }}"

