---
parameter_defaults:
  CephPoolDefaultSize: {{ vms|map(attribute='name')|select("match", '^ceph.+')|list|length }}
  CephPoolDefaultPgNum: 256
  CephAnsibleDisksConfig:
    devices:
      - /dev/sdb
