{% set container_image = [fcip] + content %}
{% if registry_credentials is defined %}
{% set registry_cred = {registry_credentials.registry: {registry_credentials.login: registry_credentials.password }} %}
{% else %}
{% set registry_cred = {} %}
{% endif %}
{% set yml = {'parameter_defaults': {'ContainerImagePrepareDebug': true, 'ContainerImagePrepare': container_image, 'ContainerImageRegistryCredentials': registry_cred, 'excludes': container_prepare_excludes, 'DockerInsecureRegistryAddress': container_prepare_insecure_registries }} %}
{{ yml | to_nice_yaml }}
