parameter_defaults:
  ContainerImagePrepare:
  - push_destination: 192.168.24.2:8787
    set:
      ceph_image: {{ ceph_image |default('daemon') }}
      ceph_namespace: {{ ceph_namespace |default('docker.io/ceph') }}
      ceph_tag: {{ ceph_container_tag }}
      name_prefix: {{ container_name_prefix }}
      name_suffix: {{ container_name_suffix }}
      namespace: {{ container_namespace }}
      neutron_driver: null
      tag: {{ container_tag }}
    tag_from_label: rdo_version
