{% set base_ip = 1+ item|int %}
parameter_defaults:
    ControlPlaneDefaultRoute: 192.168.24.1
    ControlPlaneSubnetCidr: '24'
    DnsServers:
    - 10.0.0.1
    EC2MetadataIp: 192.168.24.1
    ExternalAllocationPools:
    -   start: '10.0.1{{ base_ip }}.4'
        end: '10.0.1{{ base_ip }}.250'
    ExternalInterfaceDefaultRoute: 10.0.1{{ base_ip }}.1
    ExternalNetCidr: 10.0.1{{ base_ip }}.0/24
    ExternalNetworkVlanID: 0
    ExternalMtu: 1300
    InternalApiAllocationPools:
    -   start: '172.16.{{ base_ip }}3.4'
        end: '172.16.{{ base_ip }}3.250'
    InternalApiNetCidr: '172.16.{{ base_ip }}3.0/24'
    InternalApiNetworkVlanID: {{ base_ip }}3
    NeutronBridgeMappings: ''
    NeutronEnableDVR: 'false'
    NeutronExternalNetworkBridge: ''
    NeutronNetworkType: geneve
    NeutronNetworkVLANRanges: tenant:1000:2000
    NeutronTunnelTypes: geneve
    StorageAllocationPools:
    -   start: '172.16.{{ base_ip }}1.4'
        end: '172.16.{{ base_ip }}1.250'
    StorageMgmtAllocationPools:
    -   start: '172.16.{{ base_ip }}2.4'
        end: '172.16.{{ base_ip }}2.250'
    StorageMgmtNetCidr: '172.16.{{ base_ip }}2.0/24'
    StorageMgmtNetworkVlanID: {{ base_ip }}2
    StorageNetCidr: '172.16.{{ base_ip }}1.0/24'
    StorageNetworkVlanID: {{ base_ip }}1
    TenantAllocationPools:
    -   start: '172.16.{{ base_ip }}4.4'
        end: '172.16.{{ base_ip }}4.250'
    TenantNetCidr: '172.16.{{ base_ip }}4.0/24'
    TenantNetworkVlanID: {{ base_ip }}4
resource_registry:
    OS::TripleO::BlockStorage::Net::SoftwareConfig: /usr/share/openstack-tripleo-heat-templates/network/config/multiple-nics/cinder-storage.yaml
    OS::TripleO::CephStorage::Net::SoftwareConfig: /usr/share/openstack-tripleo-heat-templates/network/config/multiple-nics/ceph-storage.yaml
    OS::TripleO::Compute::Net::SoftwareConfig: /usr/share/openstack-tripleo-heat-templates/network/config/multiple-nics/compute.yaml
    OS::TripleO::Controller::Net::SoftwareConfig: /usr/share/openstack-tripleo-heat-templates/network/config/multiple-nics/controller.yaml
    OS::TripleO::ObjectStorage::Net::SoftwareConfig: /usr/share/openstack-tripleo-heat-templates/network/config/multiple-nics/swift-storage.yaml

