#!/bin/bash

source ~/stackrc
stdbuf -i0 -o0 -e0 openstack tripleo container image prepare \
  -e ~/local_images.yaml \
  --output-env-file ~/overcloud-yml/containers-env-file.yaml

stdbuf -i0 -o0 -e0 openstack overcloud deploy \
  --templates /usr/share/openstack-tripleo-heat-templates/ \
  --environment-directory ~/overcloud-yml \
  -e /usr/share/openstack-tripleo-heat-templates/environments/disable-telemetry.yaml \
  -e /usr/share/openstack-tripleo-heat-templates/environments/low-memory-usage.yaml \
  -e /usr/share/openstack-tripleo-heat-templates/environments/enable-swap.yaml \
  {% if vms|map(attribute='name')|select("match", '^controller.+')|list|length > 1-%}
  -e /usr/share/openstack-tripleo-heat-templates/environments/docker-ha.yaml \
  {% else -%}
  -e /usr/share/openstack-tripleo-heat-templates/environments/docker.yaml \
  {% endif -%}
  {% for env in additional_envs %}
  -e {{ env }} \
  {% endfor %}
  --ntp-server pool.ntp.org --libvirt-type qemu 2>&1 | tee -a ~/deploy-overcloud.log
ret_val=$?

if [ $ret_val -ne 0 ] && [ -n $1 ] && [ "$1" = '--delete-if-fail' ]; then
  openstack stack delete --yes --wait overcloud
fi
