#!/bin/bash
source ~/stackrc

stdbuf -i0 -o0 -e0 openstack overcloud deploy \
  --templates /usr/share/openstack-tripleo-heat-templates/ \
  --stack overcloud-{{ item }} \
  -n /home/stack/oc{{ item }}-network-data.yaml \
  {% if metalsmith | default(false) | bool %}
  -e /usr/share/openstack-tripleo-heat-templates/environments/deployed-server-environment.yaml \
  -e /home/stack/overcloud-baremetal-deployed-{{ item }}.yaml \
  --deployed-server --disable-validations \
  {% endif -%}
  -e /usr/share/openstack-tripleo-heat-templates/environments/net-multiple-nics.yaml \
  -e /usr/share/openstack-tripleo-heat-templates/environments/network-isolation.yaml \
  -e /usr/share/openstack-tripleo-heat-templates/environments/network-environment.yaml \
  -e /usr/share/openstack-tripleo-heat-templates/environments/disable-telemetry.yaml \
  -e /usr/share/openstack-tripleo-heat-templates/environments/low-memory-usage.yaml \
  -e /usr/share/openstack-tripleo-heat-templates/environments/enable-swap.yaml \
  {% if vms|map(attribute='name')|select("match", '^ceph')|list|length > 0 -%}
  -e /usr/share/openstack-tripleo-heat-templates/environments/ceph-ansible/ceph-ansible.yaml \
  {% if ceph_dashboard|default(False)|bool %}
  -e /usr/share/openstack-tripleo-heat-templates/environments/ceph-ansible/ceph-dashboard.yaml \
  {% endif -%}
  {% endif -%}
  {% if base_image == 'centos' and vms|map(attribute='name')|select("match", '^controller.+')|list|length > 1 -%}
  -e /usr/share/openstack-tripleo-heat-templates/environments/docker-ha.yaml \
  {% else -%}
  -e /usr/share/openstack-tripleo-heat-templates/environments/{{ overcloud_container_cli }}.yaml \
  {% endif -%}
  {% if enable_tls|default(False)|bool %}
  -e ~/tls-inject-ca.yaml \
  -e /usr/share/openstack-tripleo-heat-templates/environments/ssl/inject-trust-anchor-hiera.yaml \
  -e /usr/share/openstack-tripleo-heat-templates/environments/ssl/tls-everywhere-endpoints-dns.yaml \
  -e /usr/share/openstack-tripleo-heat-templates/environments/services/haproxy-public-tls-certmonger.yaml \
  -e /usr/share/openstack-tripleo-heat-templates/environments/ssl/enable-internal-tls.yaml \
  {% endif %}
  {% for env in additional_envs %}
  -e {{ env }} \
  {% endfor -%}
  -e /home/stack/domain.yaml \
  -e /home/stack/containers-prepare-parameter.yaml \
  -e /home/stack/generated-container-prepare.yaml \
  --environment-directory ~/overcloud-{{ item }}-yml \
  --ntp-server pool.ntp.org --libvirt-type qemu 2>&1 | tee -a ~/install-overcloud-{{ item }}.log
ret_val=$?

if [ $ret_val -ne 0 ] && [ -n $1 ] && [ "$1" = '--delete-if-fail' ]; then
  openstack overcloud delete overcloud-{{ item }} --yes
fi

exit $ret_val
