---
parameter_defaults:
  ControllerCount: 3
  ComputeCount: 1
  CephStorageCount: 0
  BlockStorageCount: 0
  ObjectStorageCount: 0

  OvercloudControlFlavor: baremetal
  OvercloudComputeFlavor: baremetal
  OvercloudCephStorageFlavor: baremetal
  OvercloudBlockStorageFlavor: baremetal
  OvercloudSwiftStorageFlavor: baremetal

