---
parameter_defaults:
  ControllerCount: {{ (vms|map(attribute='name')|select("match", 'controller.+')|list|length)|int}}
  ComputeCount: {{ (vms|map(attribute='name')|select("match", 'compute.+')|list|length)|int}}
  CephStorageCount: {{ (vms|map(attribute='name')|select("match", 'ceph.+')|list|length)|int}}
  BlockStorageCount: {{ (vms|map(attribute='name')|select("match", 'blk.+')|list|length)|int}}
  ObjectStorageCount: {{ (vms|map(attribute='name')|select("match", 'obj.+')|list|length)|int}}

  OvercloudControlFlavor: baremetal
  OvercloudComputeFlavor: baremetal
  OvercloudCephStorageFlavor: baremetal
  OvercloudBlockStorageFlavor: baremetal
  OvercloudSwiftStorageFlavor: baremetal

