---
all:
  hosts:
    builder:
      ansible_host: IP_ADDRESS
      # In case you're running on centos-8 or rhel-8
      ansible_python_interpreter: /usr/libexec/platform-python
    localhost:
      # Not mandatory, but you can also set it there
      ansible_python_interpreter: /usr/bin/python3
    undercloud: {}
