{
  "nodes": [
{% set count = namespace(index=overclouds) %}
{% set oc_mac_addresses = hostvars['builder']['oc_mac_addresses'] %}
{% for node in vms|product(overclouds_range)|list %}
{% if node.0.name != 'undercloud' %}
{% set vm_name = "oc" ~ node.1 ~ "-" ~ node.0.name %}
    {
      "name": "oc{{ node.1 }}-{{node.0.name}}",
      "pm_type": "ipmi",
      "arch": "x86_64",
      "cpu": "{{node.0.cpu}}",
      "memory": "{{node.0.memory}}",
      "disk": "{{node.0.disksize | default('100')}}",
{% if node.0.name is match('^ceph') %}
      "root_device": {"size": "{{node.0.disksize | default('100')}}"},
{% endif %}
{% if tripleo_version not in ['rocky'] %}
      "mac": ["{{ oc_mac_addresses.results|selectattr('changed', 'equalto', true)|selectattr('cmd', 'contains', vm_name)|map(attribute='stdout')|first }}"],
{% else %}
      "ports": [
        {
          "address": "{{ oc_mac_addresses.results|selectattr('changed', 'equalto', true)|selectattr('cmd', 'contains', vm_name)|map(attribute='stdout')|first }}"
        }
      ],
{% endif %}
      "pm_user": "ADMIN",
      "pm_password": "ADMIN",
      "pm_addr": "192.168.122.1",
      "pm_port": "{{ '%s-%s-oc-%s'|format(vm_prefix, node.1, node.0.name)|hashed_port }}",
      "capabilities": "node:{{ node.1 }}-{{node.0.name}},boot_option:local"
    }{% if not loop.last %},
{% endif %}
{% set count.index = count.index+1 %}
{% endif %}
{% endfor %}
  ]
}
