---
parameter_defaults:
  CloudName: overcloud.{{ domain }}
  CloudNameInternal: overcloud.internalapi.{{ domain }}
  CloudNameStorage: overcloud.storage.{{ domain }}
  CloudNameStorageManagement: overcloud.storagemgmt.{{ domain }}
  CloudNameCtlplane: overcloud.ctlplane.{{ domain }}
  CloudDomain: {{ domain }}
  DnsSearchDomains: {{ domain }}
