---
parameter_defaults:
  CloudName: overcloud{{ item }}.{{ domain }}
  CloudNameInternal: overcloud{{ item }}.internalapicloud{{ item }}.{{ domain }}
  CloudNameStorage: overcloud{{ item }}.storagecloud{{ item }}.{{ domain }}
  CloudNameStorageManagement: overcloud{{ item }}.storagemgmtcloud{{ item }}.{{ domain }}
  CloudNameCtlplane: overcloud{{ item }}.ctlplane.{{ domain }}
  CloudDomain: {{ domain }}
  DnsSearchDomains: ["{{ domain }}"]
