#!/bin/bash

openstack tripleo launch heat --restore-db --heat-type pod --skip-heat-pull \
  --heat-dir overcloud-deploy/overcloud-{{ item }}/heat-launcher/
IP=`cat /etc/hosts | grep "undercloud.{{ domain }} undercloud$" | awk '{print $1}'`
echo unset OS_PROJECT_NAME
echo unset OS_PROJECT_DOMAIN_NAME
echo unset OS_USER_DOMAIN_NAME
echo export OS_AUTH_TYPE=none
echo export OS_ENDPOINT=http://$IP:8006/v1/admin
echo In order to kill heat, run \
  openstack tripleo launch heat --heat-type pod \
    --heat-dir overcloud-deploy/overcloud-{{ item }}/heat-launcher/ \
    --kill --skip-heat-pull
