resource_registry:
  OS::TripleO::Services::IpaClient: /usr/share/openstack-tripleo-heat-templates/deployment/ipa/ipaservices-baremetal-ansible.yaml

parameter_defaults:
  IdMServer: {{ vm_prefix }}-nat-vm.{{ domain }}
  IdMDomain: {{ domain }}
  DnsServers:
    - "{{ hostvars['builder']['nat_vm_addr_value'] }}"
