{% set base_ip = 1 + item|int %}
- name: StorageCloud{{item}}
  mtu: 1350
  vip: true
  name_lower: storage_cloud_{{ item }}
  dns_domain: storagecloud{{item}}.{{domain}}.
  service_net_map_replace: storage
  subnets:
    storage_cloud_{{ item }}_subnet:
      ip_subnet: '172.16.{{ base_ip }}1.0/24'
      allocation_pools: [{'start': '172.16.{{ base_ip }}1.4', 'end': '172.16.{{ base_ip }}1.250'}]
      vlan: {{ base_ip }}1
- name: StorageMgmtCloud{{item}}
  mtu: 1350
  vip: true
  name_lower: storage_mgmt_cloud_{{ item }}
  dns_domain: storagemgmtcloud{{item}}.{{domain}}.
  service_net_map_replace: storage_mgmt
  subnets:
    storage_mgmt_cloud_{{ item }}_subnet:
      ip_subnet: '172.16.{{ base_ip }}2.0/24'
      allocation_pools: [{'start': '172.16.{{ base_ip }}2.4', 'end': '172.16.{{ base_ip }}2.250'}]
      vlan: {{ base_ip }}2
- name: InternalApiCloud{{item}}
  mtu: 1350
  vip: true
  name_lower: internal_api_cloud_{{ item }}
  dns_domain: internalapicloud{{item}}.{{domain}}.
  service_net_map_replace: internal_api
  subnets:
    internal_api_cloud_{{ item }}_subnet:
      ip_subnet: '172.16.{{ base_ip }}3.0/24'
      allocation_pools: [{'start': '172.16.{{ base_ip }}3.4', 'end': '172.16.{{ base_ip }}3.250'}]
      vlan: {{ base_ip }}3
- name: TenantCloud{{item}}
  mtu: 1350
  vip: false  # Tenant network does not use VIPs
  name_lower: tenant_cloud_{{ item }}
  dns_domain: tenantcloud{{item}}.{{domain}}.
  service_net_map_replace: tenant
  subnets:
    tenant_cloud_{{ item }}_subnet:
      ip_subnet: '172.16.{{ base_ip }}4.0/24'
      allocation_pools: [{'start': '172.16.{{ base_ip }}4.4', 'end': '172.16.{{ base_ip }}4.250'}]
      vlan: {{ base_ip }}4
- name: ExternalCloud{{item}}
  mtu: 1350
  vip: true
  name_lower: external_cloud_{{ item }}
  dns_domain: externalcloud{{item}}.{{domain}}.
  service_net_map_replace: external
  subnets:
    external_cloud_{{ item }}_subnet:
      ip_subnet: '192.168.{{ item + 100 }}.0/24'
      allocation_pools: [{'start': '192.168.{{ item + 100 }}.15', 'end': '192.168.{{ item + 100 }}.100'}]
      gateway_ip: '192.168.{{ item + 100 }}.1'
      vlan: {{ item + 100 }}
