#!/bin/sh
pushd /usr/local/src/
for i in *.te; do
  n=$(basename $i .te)
  checkmodule -M -m -o ${n}.mod $i
  semodule_package -o ${n}.pp -m ${n}.mod
  semodule -i ${n}.pp
done
popd

rm -f /etc/yum.repos.d/*.repo
{% if (base_image | lower) in ['rhel', 'redhat'] -%}
touch /etc/yum.repos.d/redhat.repo
{% endif -%}
