#!/bin/bash

source ~/stackrc
stdbuf -i0 -o0 -e0 openstack overcloud deploy \
  --templates /usr/share/openstack-tripleo-heat-templates/ \
  --stack overcloud-{{ item }} --stack-only \
  -n /home/stack/oc{{ item }}-network-data.yaml \
  -e /usr/share/openstack-tripleo-heat-templates/environments/net-multiple-nics.yaml \
  -e /usr/share/openstack-tripleo-heat-templates/environments/network-isolation.yaml \
  -e /usr/share/openstack-tripleo-heat-templates/environments/network-environment.yaml \
  -e /usr/share/openstack-tripleo-heat-templates/environments/disable-telemetry.yaml \
  -e /usr/share/openstack-tripleo-heat-templates/environments/low-memory-usage.yaml \
  -e /usr/share/openstack-tripleo-heat-templates/environments/enable-swap.yaml \
  {% if vms|map(attribute='name')|select("match", '^ceph')|list|length > 0 -%}
  -e /usr/share/openstack-tripleo-heat-templates/environments/ceph-ansible/ceph-ansible.yaml \
  {% endif -%}
  {% if vms|map(attribute='name')|select("match", '^controller.+')|list|length > 1-%}
  -e /usr/share/openstack-tripleo-heat-templates/environments/docker-ha.yaml \
  {% else -%}
  -e /usr/share/openstack-tripleo-heat-templates/environments/{{ overcloud_container_cli }}.yaml \
  {% endif -%}
  {% for env in additional_envs %}
  -e {{ env }} \
  {% endfor -%}
  -e /home/stack/domain.yaml \
  -e /home/stack/containers-prepare-parameter.yaml \
  -e /home/stack/generated-container-prepare.yaml \
  --environment-directory ~/overcloud-{{ item }}-yml \
  --ntp-server pool.ntp.org --libvirt-type qemu 2>&1 | tee -a ~/config-download-oc{{ item }}.log

tripleo-config-download --stack-name overcloud-{{ item }} --output-dir oc{{ item }}-config-download
tripleo-ansible-inventory --ansible_ssh_user heat-admin --static-yaml-inventory oc{{ item }}-inventory.yaml --stack overcloud-{{ item }}

echo ansible-playbook \
  -i oc{{ item }}-inventory.yaml \
  --private-key /home/stack/.ssh/id_rsa \
  --become \
  oc{{ item }}-config-download/deploy_steps_playbook.yaml
