#!/bin/bash

source /usr/local/bin/lab-helpers

do_destroy() {
  for i in $($VIRSH list --all --name | grep {{vm_prefix}}); do
    vbmc show -q $i &> /dev/null && vbmc -q --log-file /home/virtuser/vbmc.log --no-daemon delete $i
    $VIRSH destroy $i;
    $VIRSH undefine $i;
    rm -f /home/{{virt_user}}/workload/${i}*
  done
}

echo -n 'Destroy the lab? [Ny] '
read -r destroy
case $destroy in
  y|Y)
    do_destroy
    ;;
  *)
    echo 'Aborting on user request'
    ;;
esac
