#!/bin/bash

source /usr/local/bin/lab-helpers

do_destroy() {
  for i in $($VIRSH list --all --name | grep {{vm_prefix}}); do
    $VIRSH destroy $i;
    $VIRSH undefine $i;
    rm -f /home/{{virt_user}}/workload/${i}*
  done
  sudo rm -rf /root/.vbmc
  sudo service virtualbmc stop
}

echo -n 'Destroy the lab? [Ny] ' 
read -r destroy
case $destroy in
  y|Y)
    do_destroy
    ;;
  *)
    echo 'Aborting on user request'
    ;;
esac
