#!/bin/bash

source /usr/local/bin/lab-helpers

do_destroy() {
  for i in $($VIRSH list --all --name | grep {{vm_prefix}}); do
    vbmc show -q $i &> /dev/null && vbmc -q --log-file /home/{{ virt_user }}/vbmc.log --no-daemon delete $i
    $VIRSH destroy $i;
    $VIRSH undefine $i --nvram --snapshots-metadata --checkpoints-metadata;
    rm -f /home/{{virt_user}}/workload/${i}*
  done
{% if ansible_facts['distribution_version'] is version('8.0', 'gt', strict=False) %}
  echo 'Flushing temporary VBMC rules'
  sudo firewall-cmd --reload
{% endif -%}
}

echo -n 'Destroy the lab? [Ny] '
read -r destroy
case $destroy in
  y|Y)
    do_destroy
    ;;
  *)
    echo 'Aborting on user request'
    ;;
esac
