<domain type='kvm'>
  <name>{{item.name}}</name>
  <memory>{{item.memory}}</memory>
  <vcpu>{{item.cpu}}</vcpu>
  <os>
    <type arch="x84_64">hvm</type>
  </os>
  <clock sync="localtime"/>
  <devices>
    <emulator>/usr/bin/qemu-kvm</emulator>
    <disk type='file' device='disk'>
      <source file='{{basedir}}/workload/{{item.name}}.qcow2'/>
      <target dev='hda'/>
    </disk>
    <interface type='network'>
      <source network='default'/>
      <mac address='24:42:53:21:52:45'/>
    </interface>
    {% for interface in item.interfaces %}
    <interface type='network'>
      <source network='default'/>
      <mac address='{{ interface }}'/>
    </interface>
    {% endfor %}
    <graphics type='vnc' port='-1' keymap='de'/>
  </devices>
</domain>
