<domain type='kvm'>
  <name>{{vm_prefix}}-{{item.name}}</name>
  <memory unit='MB'>{{item.memory}}</memory>
  <vcpu>{{item.cpu}}</vcpu>
  <os>
    <type arch="x86_64">hvm</type>
    <bios useserial='yes' rebootTimeout='0'/>
  </os>
  <clock sync="localtime"/>
  <features>
    <acpi/>
  </features>
  <devices>
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='{{basedir}}/workload/{{vm_prefix}}-{{item.name}}.qcow2'/>
      <target dev='hda'/>
    </disk>
    {% if item.swap is defined %}
    <disk type='file' device='disk'>
      <driver name='qemu' type='raw'/>
      <source file='{{basedir}}/workload/{{vm_prefix}}-{{item.name}}-swap.img'/>
      <target dev='hdb'/>
    </disk>
    {% endif %}
    {% if item.name is match('^ceph-.*') %}
    <disk type='file' device='disk'>
      <driver name='qemu' type='raw'/>
      <vendor>cephosd</vendor>
      <source file='{{basedir}}/workload/{{vm_prefix}}-{{item.name}}-osd.img'/>
      <target dev='hdb'/>
    </disk>
    {% endif %}
    {% for interface in item.interfaces %}
    <interface type='network'>
      <source network='default'/>
      <mac address='{{ interface.mac }}'/>
      <model type="virtio"/>
    </interface>
    {% endfor %}
    <serial type='pty'>
      <target type='isa-serial' port='0'>
        <model name='isa-serial'/>
      </target>
    </serial>
    <console type='pty'>
      <target type='serial' port='0'/>
    </console>
  </devices>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>restart</on_crash>
  <on_lockfailure>poweroff</on_lockfailure>
</domain>
