DEVICE=eth0
BOOTPROTO=none
BOOTPROTOv6="dhcp"
ONBOOT=yes
TYPE=Ethernet
USERCTL="yes"
IPV6INIT=yes
PERSISTENT_DHCLIENT="1"
PROXY_METHOD=none
BROWSER_ONLY=no
IPADDR=192.168.24.{{ node_id|int + 20 }}
PREFIX=24
GATEWAY=192.168.24.1
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
NAME="System eth0"
