module collectd-cgroup 1.0;

require {
        type collectd_t;
        type cgroup_t;
        class dir read;
        class file {getattr open read};
}

#============= collectd_t ==============
allow collectd_t cgroup_t:dir read;
allow collectd_t cgroup_t:file {getattr open read};

