---
- name: Only for older releases
  when: tripleo_repos_branch in ['queens', 'rocky']
  block:
    - name: Run container image prepare
      command: |
        openstack overcloud container image prepare \
        --output-env-file /home/stack/generated-container-prepare.yaml
      args:
        creates: /home/stack/generated-container-prepare.yaml

- name: Only for recent releases
  when: tripleo_repos_branch not in ['queens', 'rocky']
  block:
    - name: Ensure we have image-serve
      become: true
      become_user: root
      command: |
        ansible -m include_role \
          -a role={{ ansible_tripleo_image_serve_name }} \
          -e tripleo_container_registry_host='*' \
          localhost
      args:
        creates:
          - /etc/httpd/conf.d/image-serve.conf
          - /var/lib/image-serve/v2

    - name: Ensure we have something for podman registry
      become: true
      become_user: root
      command: |
        ansible -m include_role \
          -a role={{ ansible_tripleo_podman_name }} \
          -e tripleo_container_registry_insecure_registries='["localhost","undercloud.ctlplane","192.168.122.1"]' \
          -e ansible_distribution={{ ansible_facts['distribution'] }} \
          -e ansible_os_family={{ ansible_facts['os_family'] }} \
          -e ansible_distribution_version={{ ansible_facts['distribution_version'] }} \
          -e ansible_distribution_major_version={{ ansible_facts['distribution_major_version'] }} \
          localhost

    - name: Ensure we have an entry for undercloud.ctlplane in /etc/hosts
      become: true
      become_user: root
      lineinfile:
        dest: /etc/hosts
        line: "127.0.0.1 undercloud.ctlplane undercloud.ctlplane.localdomain"
        state: present

    - name: Get standard container-prepare-image output
      include_role:
        name: tripleo.operator.tripleo_container_image_prepare_default
      vars:
        tripleo_container_image_prepare_default_local_push_destination: true

    - name: Convert output to plain yaml
      set_fact:
        f_container_image_prepare: "{{ tripleo_container_image_prepare_default_output|from_yaml }}"

    - name: Shorten content
      set_fact:
        fcip: "{{ f_container_image_prepare['parameter_defaults']['ContainerImagePrepare'][0] }}"

    - name: Update default entries
      set_fact:
        fcip: "{{ fcip |combine({'set': {item.key: item.value}}, recursive=True) }}"
      loop: "{{ container_prepare_overrides|dict2items }}"
      loop_control:
        label: "{{ item.key }}"

    - name: Generate container-image-prepare
      template:
        src: containers-prepare-parameter.yaml.j2
        dest: /home/stack/containers-prepare-parameter.yaml
        owner: stack
        group: stack
      vars:
        content: "{{ modify_image|default([]) }}"

    - name: Drop tag_from_label
      lineinfile:
        path: /home/stack/containers-prepare-parameter.yaml
        state: absent
        regexp: '[\s]+tag_from_label:'

    - name: Ensure push_destination value
      replace:
        path: /home/stack/containers-prepare-parameter.yaml
        regexp: 'push_destination:.+'
        replace: "push_destination: {{ local_registry }}"

    - name: Show logfile location for container-image-prepare step
      debug:
        msg: >-
          Follow container image prepare in this file
          /var/log/tripleo-container-image-prepare.log

    - name: "Run container image prepare (/var/log/tripleo-container-image-prepare.log)"
      include_role:
        name: tripleo.operator.tripleo_container_image_prepare
      vars:
        tripleo_container_image_prepare_environment_files: /home/stack/containers-prepare-parameter.yaml
        tripleo_container_image_prepare_output_env_file: /home/stack/generated-container-prepare.yaml
        tripleo_container_image_prepare_log_file: /var/log/tripleo-image-prepare.log

    - name: Clean tweaked entry for undercloud.ctlplane in /etc/hosts
      become: true
      become_user: root
      lineinfile:
        dest: /etc/hosts
        line: "127.0.0.1 undercloud.ctlplane undercloud.ctlplane.localdomain"
        state: absent
