---
- name: Ensure fresh facts
  tags:
    - always
    - lab
    - undercloud-bootstrap
  setup:
    gather_subset: 'all'

- name: Set some local facts
  tags:
    - always
    - lab
    - undercloud-bootstrap
  set_fact:
    base_image: "{{ ansible_facts['distribution'] | lower }}"
    overclouds_range: "{{ range(0, overclouds | default(1) | int) | list }}"

- include_tasks: swap.yaml

- name: check dnf presence
  stat:
    path: /etc/dnf/dnf.conf
  register: dnf_state

- name: Set up proxy if needed
  tags:
    - lab
    - undercloud-bootstrap
  when:
    - proxy_host is defined
  include_tasks: proxy.yaml

- include_tasks: config.yaml
- include_tasks: user.yaml

- name: RHEL environment setup
  tags:
    - lab
    - undercloud-bootstrap
    - rhos-release
  when: base_image == 'redhat'
  block:
    - include_tasks: rhos-release.yaml
    - include_tasks: rhel.yaml

- name: Install EPEL on centos
  tags:
    - lab
    - undercloud-bootstrap
  when: base_image == 'centos'
  include_tasks: epel.yaml

- include_tasks: packages.yaml
- name: Install and configure tmate if wanted
  when: install_tmate | default(true) | bool
  include_tasks: tmate.yaml
