---
- name: update all packages
  tags:
    - lab
    - undercloud-bootstrap
  package:
    name: '*'
    state: latest

- name: install some tools
  tags:
    - lab
    - undercloud-bootstrap
  package:
    name:
      - git
      - iotop
      - tmux
      - util-linux
      - unzip
      - vim
      - wget
    state: present

- name: Enable mitogen on demand
  when:
    - mitogen|default(false)|bool
  block:
    - name: Get mitogen strategy
      tags:
        - lab
        - undercloud-bootstrap
      git:
        repo: https://github.com/mitogen-hq/mitogen.git
        dest: /home/stack/mitogen
        accept_hostkey: true

    - name: Configure ansible to use mitogen
      tags:
        - lab
        - undercloud-bootstrap
      ini_file:
        path: /etc/ansible/ansible.cfg
        section: "{{ item.section }}"
        option: "{{ item.option }}"
        value: "{{ item.value }}"
      loop:
        - 'option': 'strategy_plugins'
          'section': 'defaults'
          'value': '/home/stack/mitogen/ansible_mitogen/plugins/strategy'
        - 'option': 'strategy'
          'section': 'defaults'
          'value': 'mitogen_linear'

    - name: Configure ANSIBLE_STRATEGY_PLUGINS
      tags:
        - lab
        - undercloud-bootstrap
      copy:
        dest: /etc/profile.d/ansible-strategy.sh
        content: |
          export ANSIBLE_STRATEGY_PLUGINS=/home/stack/mitogen/ansible_mitogen/plugins/strategy
          export ANSIBLE_STRATEGY=mitogen_linear
