---
# Install tripleo-operator in current user environment
# and provide plugins and roles to local ansible env.
- name: Check ansible version
  tags: always
  when: ansible_version.full is version('2.9.0', 'lt', strict=True)
  fail:
    msg: Please update your ansible version to 2.9.x

- name: Ensure we have ~/.ansible
  tags:
    - always
    - lab
  file:
    path: "{{ item }}"
    state: directory
  loop:
    - ~/.ansible
    - ~/.ansible/roles

- name: Clone ansible-role-redhat-subscription
  tags:
    - always
    - lab
  git:
    dest: "~/.ansible/roles/redhat_subscription"
    repo: "https://opendev.org/openstack/ansible-role-redhat-subscription"
    update: "{{ update_operator | bool }}"

- name: Install collections
  tags:
    - always
  command: "ansible-galaxy collection install --force community.libvirt tripleo.operator"
