---
# Install tripleo-operator in current user environment
# and provide plugins and roles to local ansible env.
- name: Get installed packages
  tags: always
  package_facts:

- name: Check ansible version
  tags: always
  when: ansible_facts.packages['ansible'][0]['version'] is version('2.9.0', 'lt', strict=True)
  fail:
    msg: Please update your ansible version to 2.9.x

- name: Ensure we have ~/.ansible
  tags:
    - always
    - lab
  file:
    path: ~/.ansible
    state: directory

- name: Clone tripleo-operator-ansible
  register: git_operator
  tags:
    - always
    - lab
  git:
    dest: ~/.ansible/tripleo-operator-ansible
    repo: https://opendev.org/openstack/tripleo-operator-ansible

- name: Build operator collection
  tags: always
  when: git_operator is changed
  command: "ansible-galaxy collection build --force --output-path /tmp/collections"
  register: collection_name
  args:
    chdir: ~/.ansible/tripleo-operator-ansible

- name: Install operator collection
  tags: always
  when: git_operator is changed
  command: "ansible-galaxy collection install --force {{ collection_name.stdout.split(' ')[-1] }}"
  args:
    chdir: ~/.ansible/tripleo-operator-ansible
