#!/bin/bash
stdbuf -i0 -o0 -e0 sudo openstack tripleo deploy \
  --templates \
  --local-ip={{ ip }}/24 \
  -e /usr/share/openstack-tripleo-heat-templates/environments/standalone/standalone-tripleo.yaml \
{% if standalone_ceph|bool %}
  -e /usr/share/openstack-tripleo-heat-templates/environments/ceph-ansible/ceph-ansible.yaml \
{% endif %}
  -r /usr/share/openstack-tripleo-heat-templates/roles/Standalone.yaml \
  -e /home/stack/containers-prepare-parameter.yaml \
  -e /home/stack/standalone_parameters.yaml \
{% if standalone_ceph|bool %}
  -e /home/stack/ceph_parameters.yaml \
{% endif %}
{% for env in additional_envs %}
  -e {{ env }} \
{% endfor %}
  --output-dir /home/stack \
  --standalone 2>&1 | tee /home/stack/install-standalone.log
