parameter_defaults:
  ContainerCli: {{ standalone_container_cli | default('podman') }}
{% if disable_selinux | default(false) | bool %}
  SELinuxMode: permissive
{% endif %}
  CloudName: 192.168.24.2
  ControlPlaneStaticRoutes: []
  Debug: true
  ConfigDebug: true
  ContainerImagePrepareDebug: true
  DeploymentUser: stack
  DnsServers: {{ nameservers | to_yaml }}
  DockerInsecureRegistryAddress:
    - 192.168.24.2:8787
    - undercloud.ctlplane
  NeutronPublicInterface: eth1
  NeutronDnsDomain: localdomain
  StandaloneEnableRoutedNetworks: false
  StandaloneHomeDir: /home/stack
  StandaloneLocalMtu: 1500
  NovaComputeLibvirtType: qemu
  NtpServer: {{ NtpServer | to_yaml }}
